@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply transition-colors duration-300 antialiased;
}
/* Hide scrollbar for horizontal tabs */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
